{% block body %}
    <div id="landing" class="view d-flex align-items-center justify-content-center">

        <div class="mask rgba-black-strong">

            <div class="container-fluid align-items-center justify-content-center h-100">

                <div class="row justify-content-center align-middle text-center">

                    <div class="col-md-12">
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2 text-uppercase font-italic">On board for freestyle</h2>
                        <hr class="hr-light">
                    </div>

                </div>

            </div>

        </div>

        <div class="mask">

            <div class="row absolute-bottom justify-content-end right-2">
                <a href="#figure_list">
                    <i class="bi bi-arrow-down"></i>
                </a>
            </div>

        </div>

    </div>
{% endblock %}
