.registration_input{
    border: none;
    border-bottom: 1px solid black;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
#landing {
    height: 100vh;
    background: url("home_landing_page.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}