.registration_input{
    border: none;
    border-bottom: 1px solid black;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
#landing {
    height: 100vh;
    background: url("home_landing_page.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user_landing{
    position: absolute;
    top: 0;
    left: 0;
    background: url("home_landing_page.jpg")no-repeat center center fixed;
    width: 100%;
    height: 100vh;
}

.figure_landing{
    position: absolute;
    top: 0;
    left: 0;
    background: url("figure_landing.jpeg")no-repeat center fixed;
    width: 100%;
    height: 100vh;
}

.user_landing .registration_input{
    background-color: rgba(255,255,255,0);
}

i {
    font-size: 1.5em;
    color: #3e3f3a ;
}

.card a {
    color: #3e3f3a ;
}

.card button {
    font-size: 1em;
}

#landing i {
    font-size: 2em;
    color: #f1f2f3;
    border-radius: 50%;
}

.absolute-bottom {
    bottom: 1.8em;
    position: absolute;
}

.right-2 {
    right: 2em;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

#figure_title {
    top:50%;
    transform: translateY(-50%);
    color: #f1f2f3;
}

#figure_title h3 {
    font-size: xxx-large;
    font-weight: bold;
    font-style: oblique;
}

#figure_list > div {
    box-shadow: 15px 15px 2px 1px rgba(0, 0, 255, .2);
    border: 1px solid black;
}

#figure {
    box-shadow: 40px 40px 2px 1px rgba(41, 171, 224, .2);
    border: 1px solid black;
}

#add_figue_form {
    box-shadow: 40px 40px 1px 1px rgb(95, 152, 165);
    border: 1px solid black;
}

.p-t-10 {
    padding-top: 10em;
}

.p-b-5 {
    padding-bottom: 5em;
}

.border-gradient {
    border:none;
    border-image-slice: 1;
}

.b-t-2{
    border-top: 2px solid;
}
.b-b-2{
    border-bottom: 2px solid;
}

.border-gradient-blue-left {
    border-image-source: linear-gradient(to left, rgba(255,255,255,1) 40%, rgba(142,214,230,1) 40%, rgba(0,212,255,1));
}
.border-gradient-blue-right {
    border-image-source: linear-gradient(to right, rgba(255,255,255,1) 40%, rgba(142,214,230,1) 40%, rgba(0,212,255,1));
}

.font_smaller {
    font-size: smaller;
}


@supports (-webkit-text-stroke: 1px black) {
    #figure_title {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #444!important;
    }
}
.navbar{background-color:rgba(0,0,0,.1)}
.top-nav-collapse{background-color:#444}
@media only screen and (max-width:768px){.navbar{background-color:#444}}



#footer_wrapper{
    position: absolute;
    bottom: 0;
}

.comment{
    width: 100%;
}