{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block before_body %}
    <div id="landing_error_404" class="view d-flex align-items-center justify-content-center">
        {% set error_message = "Oh non ! Attention,tu t'aventures hors piste !" %}
        {% include 'bundles/TwigBundle/Exception/landing_error.html.twig' %}
    </div>
{% endblock %}
