{% extends 'base.html.twig' %}

{% block body %}
    <div class="user_landing">
        <div class="row justify-content-center p-t-10 m-0">
            <h2 class="col-12 col-md-10 text-center my-4">Forgot Password</h2>

            {{ form_start(formForgetPassword, {"attr":{"class":"col-12 col-md-10 col-lg-5 text-center border border-primary"}} )  }}

            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    {{ form_label(formForgetPassword.email, "Email", {"label_attr":{"class":"mb-0"}}) }}
                </div>
                <div class="col-12 text-center">
                    {{ form_widget(formForgetPassword.email,
                        {"label":false, "attr":{"class":"col-12 col-md-6 text-center my-0 registration_input"}}) }}
                </div>
            </div>

            <div class="row justify-content-center my-4">
                <button type="submit" class="btn btn-info col-10 col-sm-6 col-md-3 col-lg-5">Ask for reset</button>
            </div>

            {{ form_end(formForgetPassword) }}
        </div>
    </div>
{% endblock %}
{% block footer %}{%  endblock %}