{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demande de mot de passe</h1>
    {{ form_start(formForgetPassword) }}
    {{ form_row(formForgetPassword.email, {"label":"Email", "attr":{"placeholder":"Adresse email"}}) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(formForgetPassword) }}
{% endblock %}
{% block footer %}{%  endblock %}