{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialisation mot de passe</h1>
    {{ form_start(formResetPassword) }}
    {{ form_row(formResetPassword.password, {"label":"mot de passe", "attr":{"placeholder":"mot de passe"}}) }}
    {{ form_row(formResetPassword.confirm_password, {"label":"Confirmation", "attr":{"placeholder":"confirmation du mot de passe"}}) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(formResetPassword) }}
{% endblock %}
{% block footer %}{%  endblock %}