{# templates/emails/registration.html.twig #}
<h3>Mot de passe oublié ?</h3>

<div>Bonjour {{ user.username }}!</div>
<div>
    <span>Vous avez fait une demande de reinitialisation de votre mot de passe.</span>
    <span>Vueillez cliquer sur ce lien :</span>
    <span><a href="{{ url('reset_password', {'token': user.token} ) }}" class="btn btn-info">réinitialiser mon mot de passe</a></span>
</div>